.Footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.copyrightclass {
  color: #ccd6f6;
  text-align: center;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.copyrightclass:hover{
  color: #60e8cd;
}
.spanLineforFooter {
  display: inline-block;
  border-bottom: 1px solid #8892b0; /* You can change the color and style as needed */
  width: 300px; /* Adjust the width of the line */
  margin-bottom: 05px;
  margin-left: 10px;
}


@media (max-width:480px) {
  .Footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .copyrightclass{
    font-size: 15px;
  }
  
}