.WorkSection {
  margin-top: 4rem;
}
.Feature {
  color: var(--primary-color);
}
.ProjectSection {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.ProjectSectionForRightImage {
  display: flex;
  align-items: center;
  margin-top: 7rem;
}
.ProjectImage {
  width: 450px;
}

.LeftSideWORK {
  display: flex;
  /* align-items: start; */
  gap: 10px;
  flex-direction: column;
}
.LeftSideWORKForRightImage {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex-direction: column;
}
.headingOfProject {
  color: var(--secondary-color);
}
.textAboutProject {
  color: var(--third-color);
}
.textAboutSection {
  background-color: #112240;
  position: relative;
  border-radius: 10px;
  z-index: 99;
  width: 110%;
  padding: 20px;
  box-shadow: 0 0 8px 2px #000000;
}
.techStack {
  margin-top: 10px;
  color: var(--third-color);
  word-spacing: 30px;
}
.projectIcons {
  color: var(--third-color);
  font-size: 20px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 30px;
  cursor: pointer;
}

/* media frames */

@media (max-width: 480px) {
  .ProjectSection,
  .ProjectSectionForRightImage {
    flex-direction: column;
  }
  .LeftSideWORKForRightImage {
    align-items: flex-start;
  }
  .textAboutSection {
    background-color: #0a192f;
    box-shadow: none;
    padding: 0;
    z-index: -2;
  }
  .techStack {
    word-spacing: 10px;
  }
  .ProjectImage {
    display: none;
  }
}
